.btn {
    padding: 10px 40px !important;
    color: white !important;
    font-weight: 700 !important;
    border-radius: 6px !important;
    outline: none !important;
}

.cursor {
    cursor: pointer;
}