.btn {
    padding: 10px 15px !important;
    color: white !important;
    font-weight: 700 !important;
    border-radius: 6px !important;
    outline: none !important;
    outline-color: #ffffff !important;
    box-shadow: none !important;
    text-align: center !important;
}

.cursor {
    cursor: pointer;
}